@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* ========== ANIMATION POUR LA SNACKBAR ========== */
@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}